body{
	background-color: #202124;
}

.board-row{
	display: flex;
	justify-content: center;
	align-items: center;
}
.board{
	margin-top: 20vh;
}

.square{
	border-radius: 6px;
	font-weight: bold;
	font-size: 400%;
	background-color: rgb(203, 235, 237);
	width: 100px;
	height: 100px;
}

h3{
	text-align: center;
	color: rgb(68, 229, 57);
	font-size: 40px;
}

.resetDiv{
	margin-bottom: 2%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.reset{
	width: 10rem;
	height: 5vh;
	border-radius: 0.5rem;
	font-size: 100%;
	font-weight: bold;
	color: white;
}

	